<mat-card class="card">
  <mat-card-actions class="card-actions">
    <mat-icon aria-hidden="false" aria-label=" edit icon">edit</mat-icon>
    <mat-icon aria-hidden="false" aria-label=" delete icon">delete</mat-icon>
  </mat-card-actions>

  <mat-card-content class="card-content">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Nulla vitae nulla congue, venenatis tortor sed, consequat odio.
      Nullam tristique nunc non pretium ultrices.</p>
  </mat-card-content>
</mat-card>
