<mat-grid-list cols="4" rowHeight="10em" gutterSize="2em" class="cards-grid"> <!-- rowHeight="2:1" -->
  <mat-grid-tile class="grid-card">
    <app-card class="app-card"></app-card>
  </mat-grid-tile>

  <mat-grid-tile class="grid-card">
    <app-card class="app-card"></app-card>
  </mat-grid-tile>

  <mat-grid-tile class="grid-card">
    <app-card class="app-card"></app-card>
  </mat-grid-tile>

  <mat-grid-tile class="grid-card">
    <app-card class="app-card"></app-card>
  </mat-grid-tile>
</mat-grid-list>
